<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.az.pplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PhpPlayerApp"
        android:allowBackup="true"
        android:icon="@drawable/play"
        android:label="@string/app_name"
        android:roundIcon="@drawable/play"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.CategoryViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"

            android:label="@string/title_activity_video_player"
            android:theme="@style/VideoPlayerTheme"/>
        <activity android:name=".Views.SmallPlayerActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Views.VideoPlayerLoader"
            android:label="@string/title_activity_video_player_loader"
android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"/>

    </application>

</manifest>